<div class="card card-custom">
      <div class="card-header"> 
           <div class="card-title">             
      <h3 class="card-label">gggfgfg</h3>     
    </div>
        </div>    
  <!--begin-->  
    <mat-dialog-content>     
       <div class="container">   
      <div class="card-body">                
        <div class="row">    
          <div class="col-sm">
                   <p>ddddddddddd</p>              
          </div>
           <div class="col-sm">   
                      <p><ddddddd/p>                 
          </div>                      
        </div>                                           
      </div>      
         <div class="card-footer">
          <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit text-right">
          <div class="kt-form__actions kt-form__actions">
            <button (click)="onNoClick()" class="btn btn-primary" type="reset">Fermer</button>                    
          </div>  
          
        </div>      
      </div>     
    </div>  
      </mat-dialog-content>
</div>
