.label
{
  color:white !important;
  background-color:#3699ff !important;
  font-size: 1.2rem !important;
  border-radius: 30px;
  text-align: center;
  width: 70%;
  margin: 4px;
}

.obligatoire
{
	color:red;
}
